<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Shows</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="d-flex justify-content-end align-items-center col-12">
            <a href="/shows" class="btn btn-primary mx-5">TV Shows</a>
            <a href="/logout" class="btn btn-info">Logout</a>


        </nav>
        <form action="/update/show" method="post" class="col-11 p-4 my-4 bg-dark text-light mx-auto">
            <h2 class="text-primary">Edit Recipe</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Oh Sorry!!</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            
            <div class="d-flex flex-column justify-content-between col-9">
                <input type="hidden" name="id" value={{edit.id}}>
                    <div class="form-group">
                        <label for="name">Title:</label>
                        <input type="text" name="title" class="form-control" value="{{edit.title}}">
                    </div>
                    <div class="form-group">
                        <label for="network">Network:</label>
                        <textarea name="network"  cols="30" rows="1" class="form-control">{{edit.network}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="date">Release Date:</label>
                        <input type="date" name="date" value="{{edit.date.strftime('%Y-%m-%d')}}" class="form-control col-4">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea name="description"  cols="30" rows="5" class="form-control">{{edit.description}}</textarea>
                    </div>
                
                    <input type="submit" value="Update" class="btn btn-primary col-4 my-3">
            </div>
            
        </form>
    </div>
</body>
</html>